* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background-image: url(./bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    color: white;
    display: flex;
    padding: 100px;
    align-items: center;
    max-width: 1440px;
    margin: 100px auto;
}
/* side title */

h1{
    font-size: 50px;
    margin-bottom: 15px;
}

/* form */

.text-col{
width: 100%;
padding: 100px;
}

form input{
    width: 100%;
    margin: 12px 0px;
    padding: 20px;
    border-radius: 5px;
    border: 0.5px solid grey;
}

form{
    padding: 15px 35px;
    border: 2px solid white;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    float: right;
    margin: 10px 100px;
    padding-bottom: 40px;
}

/* footer */
form button{
    width: 100%;
    margin: 10px 0px;
    padding: 20px;
    border-radius: 6px;
    background: hsl(154, 59%, 51%);
    border: none;
    color: white;
}

span button{
    width: 80%;
    float: right;
    background-color: hsl(248, 32%, 49%);
    margin: 15px 100px;
    padding: 25px;
    border: none;
    border-radius: 6px;
    color: white;
}

a{
    text-decoration: none;
    color: red;
}

small{
    color: black;
    font-size: 16px;
}

p{
    font-size: 15px;
    margin: 15px 0px;
}



